<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="0">

  <test name="FirefoxTests">
    <parameter name="browser_name" value="Firefox"/>
    <classes>
      <class name="il.carambola.LayOut120BrowserDataTest"/>
    </classes>
  </test>

  <test name="ChromeTests">
    <parameter name="browser_name" value="Chrome"/>
    <classes>
      <class name="il.carambola.LayOut120BrowserDataTest"/>
    </classes>
  </test>


</suite>